<div id="top1">
  <div class="top2_wrapper" id="top2">
    <div class="container">
      <div class="top2 clearfix">
        <header>
          <div class="logo_wrapper margtop">
            <a href="#home" class="logo scroll-to">
            <img src="images/logo.png" alt="" class="img-responsive">
            </a>
          </div>
        </header>
        <div class="navbar navbar_ navbar-default">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <div class="navbar-collapse navbar-collapse_ collapse">
            <ul class="nav navbar-nav sf-menu clearfix">
              <li ><a href="#home">Home</a></li>
              <li><a href="#services">services</a></li>
              <li><a href="#partners">partners</a></li>
              <li class="sub-menu sub-menu-1">
                <a href="about.html">pages<em class="fa fa-angle-down"></em></a>
                <ul>
                  <li><a href="about.html">•&nbsp;&nbsp;&nbsp;About us - Page</a></li>
                  <li class="sub-menu sub-menu-2">
                    <a href="tours-link.html">•&nbsp;&nbsp;&nbsp;Tours - Page</a>
                    <ul>
                      <li><a href="tour-added.html">•&nbsp;&nbsp;&nbsp;Add Tours - Page</a></li>
                      <li><a href="tour-details-map.html">•&nbsp;&nbsp;&nbsp;Tour Details - Page</a></li>
                    </ul>
                  </li>
                  <li class="sub-menu sub-menu-2">
                    <a href="hotels.html">•&nbsp;&nbsp;&nbsp;Hotels - Page<em></em></a>
                    <ul>
                      <li><a href="hotel-details-map.html">•&nbsp;&nbsp;&nbsp;Hotel Details - Page</a></li>
                    </ul>
                  </li>
                  <li class="sub-menu sub-menu-2">
                    <a href="cars.html">•&nbsp;&nbsp;&nbsp;Cars - Page</a>
                    <ul>
                      <li><a href="cars-details-map.html">•&nbsp;&nbsp;&nbsp;Cars Details - Page</a></li>
                    </ul>
                  </li>
                  <li class="sub-menu sub-menu-2">
                    <a href="cruises.html">•&nbsp;&nbsp;&nbsp;Cruises - Page</a>
                    <ul>
                      <li><a href="cruise-details-map.html">•&nbsp;&nbsp;&nbsp;Cruise Details - Page</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li><a href="gallery.html">gallery</a></li>
              <li><a href="#popular">tours</a></li>
              <li class="sub-menu sub-menu-1">
                <a href="blog.html">blog<em class="fa fa-angle-down"></em></a>
                <ul>
                  <li><a href="blog-right.html">•&nbsp;&nbsp;&nbsp;Blog Right</a></li>
                  <li><a href="blog.html">•&nbsp;&nbsp;&nbsp;Blog Left</a></li>
                  <li><a href="post-right.html">•&nbsp;&nbsp;&nbsp;Post Right</a></li>
                  <li><a href="post.html">•&nbsp;&nbsp;&nbsp;Post Left</a></li>
                </ul>
              </li>
              <li><a href="#contacts">contact</a></li>
              <li><a href="#contacts">Login</a></li>
              <li><a href="#contacts">Register</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>