<div class="col-md-2 col-sm-1 hidden-xs display-table-cell v-align box" id="navigation">
  <div class="logo">
    <a hef="home.html"><img src="http://jskrishna.com/work/merkury/images/logo.png" alt="merkery_logo" class="hidden-xs hidden-sm">
    <img src="http://jskrishna.com/work/merkury/images/circle-logo.png" alt="merkery_logo" class="visible-xs visible-sm circle-logo">
    </a>
  </div>
  <div class="navi">
    <ul>
      <li class=""><a href="/"><i class="fa fa-home" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Home</span></a></li>
      <li class=""><a href="/admin/users"><i class="fa fa-tasks" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Users</span></a></li>
      <li class=""><a href="/admin/blogs"><i class="fa fa-bar-chart" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Blogs</span></a></li>
      <li class=""><a href="#"><i class="fa fa-user" aria-hidden="true"></i><span class="hidden-xs hidden-sm">category</span></a></li>
      <!-- <li class=""><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Intervals</span></a></li>
      <li class=""><a href="#"><i class="fa fa-cog" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Authentications</span></a></li>
      <li class=""><a href="#"><i class="fa fa-cog" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Scheduled Posts</span></a></li>
      <li class=""><a href="#"><i class="fa fa-cog" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Setting</span></a></li> -->
    </ul>
  </div>
</div>